/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.new_container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 77px auto;
    width: 500px;
}
.container1{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 40px auto;
    width: 400px;
}

h1 {
    color: #333;
    font-size: 28px !important;
    font-weight: bold !important;
    margin-bottom: 15px;
}

.error-message {
    color: red;
}

label {
    display: block;
    margin-bottom: 5px;
}

.form-inputs{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button.submit-button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

button.submit-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}

button.submit-button:hover {
    color: #e8e8e8;
}

button.submit-button:hover::before {
    width: 100%;
}



























.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    height: 4.3rem;
}

.navbar-toggler {
    display: none;
}

.navbar-nav {
    list-style: none;
    display: flex;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }
    .navbar-nav {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .nav-item {
        margin: 10px 0;
    }
}


.text-logo{
    color: white !important;
    text-decoration: none;

}

.right-phase{
    margin-right: 2%;
}



.footer {
    background-color: #333;
    color: #fff;
    padding: 27px 0;
    width: 100%;
    height: 73px;
    text-align: center;
}




/* search */
.input-search {
    display: block;
    color: rgb(34, 34, 34);
    background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 50px;
    block-size: 20px;
    margin: 7px auto;
    padding: 18px 15px;
    outline: none;
    text-align: center;
    width: 200px;
    transition: 0.5s;
}

.input-search:hover {
    width: 240px;
}

.input-search:focus {
    width: 280px;
}


/* table */

/* Table styles */
.show-table {
    width: 90%;
    border-collapse: collapse;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
}

.show-table th,
.show-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.show-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.show-table tr:nth-child(even) {
    background-color: #f2f2f2;
}








.step {
    display: none;
}
.active {
    background-color: #3490dc;
    color: #fff;
    cursor: pointer;
}
.inactive {
    background-color: #ccc;
    color: #000;
    cursor: not-allowed;
}
























.add-c-e-button {
    text-align: right;
    margin-bottom: 10px;
    width: 90%;

}



.button-link:hover {
    background-color: #0056b3;
}

.ctnr{
    margin-top: 5%;
    margin-bottom: 6%;
}
.ctnr-search{
    display: flex;
    justify-content: center;
    align-items: center;
}




button.search-button {
    padding: 9px 25px;
    border: unset;
    border-radius: 15px;
    color: #e8e8e8;
    z-index: 1;
    background: #212121;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

button.search-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #e8e8e8;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}

button.search-button:hover {
    color: #212121;
}

button.search-button:hover::before {
    width: 100%;
}

.flex-input{
    margin-right: 5px;
}


.button-add {
    padding: 9px 25px;
    border: unset;
    border-radius: 15px;
    color: #e8e8e8;
    z-index: 1;
    background: #008000;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.button-add::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #006400;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}

.button-add:hover {
    color: #e8e8e8;
}

.button-add:hover::before {
    width: 100%;
}









.button-delete {
    padding: 9px 25px;
    border: unset;
    border-radius: 15px;
    color: #e8e8e8;
    z-index: 1;
    background: #FF0000;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.button-delete::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #CC0000;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}

.button-delete:hover {
    color: #e8e8e8;
}

.button-delete:hover::before {
    width: 100%;
}







.button-update {
    padding: 9px 25px;
    border: unset;
    border-radius: 15px;
    color: #e8e8e8;
    z-index: 1;
    background: #007bff;
    position: relative;
    font-weight: 1000;
    font-size: 15px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.button-update::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #0056b3;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}

.button-update:hover {
    color: #e8e8e8;
}

.button-update:hover::before {
    width: 100%;
}




#label-input {
    transition: all 0.1s ease-in-out;
    color: #2c2c54;
    position: absolute;
    top: 30%;
    left: 18px;
    transform: scale(0.95);
    opacity: 1;
    pointer-events: none;
}

.input-base {
    border-radius: 10px;
}

#code:focus ~ label#label-input,
#code:not(:placeholder-shown) ~ #label-input {
    top: -20% !important;
    left: 2px !important;
    transform: scale(0.8);
    background: white;
    color: black;
    padding: 0 6px;
    opacity: 1;
}

#code {
    transition: outline 0.2s ease;
    font-size: 1rem;
    outline: white;
    border: 1px solid #bbbbbb;
    padding: 17px 10px 10px 17px;
    width: 100%;
}

#code:focus {
    box-shadow: 0 0 0 1px #e8e8e8, 0 0 0 3px rgb(92, 127, 202);
}

.relative {
    position: relative;
}


.pad-ste{
    padding: 14px;
}

.col-4.pad-ste.active {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}
.col-4.pad-ste:not(.active) {
    background-color: #ccc;
    color: #888;
    cursor: not-allowed;
}













/* Add these styles to your existing CSS or a separate stylesheet */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    margin-top: 120px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
